$textcolor: rgb(39, 95, 218);
$greenColor: rgb(106, 199, 179);

.container {
    margin-top: 50px;
  }
  
  .frame-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .frame-cell {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .total-score {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  .rolls-row {
    display: flex;
  }
  
  .roll-cell {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn {
    margin-top: 10px;
  }
  